<!doctype html>
<html lang="en" dir="ltr">
<head>
    <!-- Title -->
    <title>IP Division</title>
    <link rel="stylesheet" href="fonts/fonts/font-awesome.min.css">

    <!-- Dashboard Css -->
    <link href="css/dashboard.css" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link href="plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

    <!-- Sidemenu Css -->
    <link href="/plugins/toggle-sidebar/css/sidemenu.css" rel="stylesheet">
</head>
<body class="app sidebar-mini rtl">
<div id="global-loader" ></div>
<div class="page">
    <div class="page-main">
        <!-- Navbar-->
        <header class="app-header header">
            <div class="container-fluid">
                <div class="d-flex">
                    <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
                </div>
            </div>
        </header>

        <!-- Sidebar menu-->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar ">
            <ul class="side-menu">
                <li class="slide">
                    <a class="side-menu__item active" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-home"></i><span class="side-menu__label">DASHBOARD</span><i class="angle fa fa-angle-right"></i></a>
                </li>
            </ul>
        </aside>
        <div class="app-content my-3 my-md-5">
            <div class="side-app">
                <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </div>
                <div class="row row-cards">
                    <div class="col-sm-12">
                        <div class="card ">
                            <div class="card-header">
                                <h3 class="card-title">IP Register</h3>
                            </div>
                            <div class="card-body overflow-hidden">
                                <form action="/server_add" method="post">
                                    <div class="form-group">
                                        <label class="form-label">IP Address</label>
                                        <input type="text" class="form-control" id="ip_address" name="ip_address" placeholder="Enter IP Address" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Port Number</label>
                                        <input type="text" class="form-control" id="port_number" name="port_number" placeholder="Enter Port Number">
                                    </div>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cards row-deck">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Server IP Addresses</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter border text-nowrap">
                                        <thead>
                                        <tr>
                                            <th>IP Address</th>
                                            <th>Port Number</th>
                                            <th>Connection Status</th>
                                            <th class="w-3"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% for(let i =0;i < serverData.length; i++){ %>
                                            <tr class="row-server" id="row_<%= serverData[i].id %>">
                                                <td class="server-ip" id="ip_address_<%= serverData[i].id %>"><%= serverData[i].ip %> </td>
                                                <td class="server-port" id="port_number_<%= serverData[i].id %>"><%= serverData[i].port %> </td>
                                                <td class="con-status" id="status_<%= serverData[i].id %>"><%= serverData[i].server_status  %></td>
                                                <td style="display: none" id="status_fix_<%= serverData[i].id  %>" ><%= serverData[i].status  %></td>
                                                <td>
                                                    <button id="connect_btn_<%= serverData[i].id %>" class="connect-btn btn btn-outline-primary btn-sm">
                                                        Connect Server
                                                    </button>
                                                    <button id="disconnect_btn_<%= serverData[i].id %>" class="disconnect-btn btn btn-outline-primary btn-sm" disabled>
                                                        Disconnect Server
                                                    </button>
                                                </td>
                                            </tr>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back to top -->
<a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>

<!-- Dashboard Core -->
<script src="/js/vendors/jquery-3.2.1.min.js"></script>
<script src="/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/plugins/rating/jquery.rating-stars.js"></script>

<!-- Fullside-menu Js-->
<script src="plugins/toggle-sidebar/js/sidemenu.js"></script>

<!-- Custom scroll bar Js-->
<script src="plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

<!-- Custom Js-->
<script src="js/custom.js"></script>

<script>

    $(document).ready(function () {
        $(".con-status").each(function () {
            var row_id = $(this).attr('id').replace("status_", "");
            var status_fix = $("#status_" + row_id)[0].innerText
            if (status_fix == "0") {
                $(this)[0].innerText = "Connected";
                var con_btn = $("#connect_btn_" + row_id);
                con_btn.prop('disabled', true);
                var dis_btn = $("#disconnect_btn_" + row_id);
                dis_btn.prop('disabled', false);
            }
            else {
                $(this)[0].innerText = "Not Connected";
                $("#status_fix_" + row_id)[0].innerText = 1;
            }
        });
        $(".disconnect-btn").on('click', function () {
            var row_id = $(this).attr('id').replace("disconnect_btn_", "");
            var els = $("#status_" + row_id)[0];
            var els_fix = $("#status_fix_" + row_id)[0];
            var ip = $("#ip_address_" + row_id)[0].innerText;
            var port = $("#port_number_" + row_id)[0].innerText;
            var con_btn = $("#connect_btn_" + row_id);
            var dis_btn = $("#disconnect_btn_" + row_id);

            $.ajax({
                type: "POST",
                url: "/server_disconnect",
                data: {id: parseInt(row_id), ip_address: ip, port_number: parseInt(port)},
                success: function (res) {
                    els.innerText = "Not Connected";
                    els_fix.innerText = 0;
                    con_btn.prop('disabled', false);
                    dis_btn.prop('disabled', true);
                }
            });
        });

        $(".connect-btn").on('click', function () {
            var row_id = $(this).attr('id').replace("connect_btn_", "");
            var els = $("#status_" + row_id)[0];
            var els_fix = $("#status_fix_" + row_id)[0];
            var ip = $("#ip_address_" + row_id)[0].innerText;
            var port = $("#port_number_" + row_id)[0].innerText;
            var con_btn = $("#connect_btn_" + row_id);
            var dis_btn = $("#disconnect_btn_" + row_id);

            var server_status = parseInt(els_fix.innerText);

            $.ajax({
                type: "POST",
                url: "/server_status_check",
                data: {id: parseInt(row_id), ip: ip, port: parseInt(port), serverStatus: server_status},
                success: function (res) {
                    els.innerText = res.toString();
                    if (res.toString() == "Connected") {
                        els_fix.innerText = 0;
                        con_btn.prop('disabled', true);
                        dis_btn.prop('disabled', false);
                    }
                    else {
                        els_fix.innerText = 1;
                        con_btn.prop('disabled', false);
                        dis_btn.prop('disabled', true);
                    }
                }
            });
        });

    });
</script>

</body>
</html>